<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jara.weiyuedemo">
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity">

        </activity>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.home.WebViewActivity"/>
        <activity android:name=".ui.home.NewsDetailActivity"/>
    </application>
</manifest>
